@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Plex Arabic';
  src: url('./fonts/ibm-plex-sans-arabic-arabic-400-normal.woff2') format('woff2');
  font-weight: 400; font-display: swap;
}
@font-face {
  font-family: 'Plex Arabic';
  src: url('./fonts/ibm-plex-sans-arabic-arabic-500-normal.woff2') format('woff2');
  font-weight: 500; font-display: swap;
}
@font-face {
  font-family: 'Plex Arabic';
  src: url('./fonts/ibm-plex-sans-arabic-arabic-600-normal.woff2') format('woff2');
  font-weight: 600; font-display: swap;
}
@font-face {
  font-family: 'Plex Arabic';
  src: url('./fonts/ibm-plex-sans-arabic-arabic-700-normal.woff2') format('woff2');
  font-weight: 700; font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter-latin-400-normal.woff2') format('woff2');
  font-weight: 400; font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter-latin-500-normal.woff2') format('woff2');
  font-weight: 500; font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter-latin-600-normal.woff2') format('woff2');
  font-weight: 600; font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter-latin-700-normal.woff2') format('woff2');
  font-weight: 700; font-display: swap;
}

html, body, #root { height: 100%; }
body { margin: 0; }
